<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be Vietnam Pro:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Be Vietnam Pro:wght@300;400;500;600&display=swap');
    </style>
</head>

<body style="margin: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="auto"
        style="min-width: 375px; max-width: 600px;margin: 0 auto; border: 1px solid #BCBCBC; padding:30px; background: #8785FF;">
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 30px ;border-radius:16px;">
                            <table border=" 0" cellpadding="0" cellspacing="0" width="auto">
                                <tr>
                                    <img width="130px" src="https://adl.stag.icanx.vn/images/logo.svg" />
                                    <td>
                                        <p
                                            style="font-family: 'Be Vietnam Pro', sans-serif;font-style: normal;font-weight: 700;font-size: 32px;line-height: 40px;margin: 20px 0 0 0;">
                                            Gia sư AI xin chào!</p>

                                        <br>
                                        <p
                                            style="font-family: 'Be Vietnam Pro', sans-serif;font-style: normal; font-weight: 400; font-size: 18px; line-height: 24px; color: #333333;margin: 0">
                                            Gia sư AI rất hân hạnh khi được đồng hành cùng bạn trong hành trình chinh
                                            phục môn Toán.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <hr style="margin : 32px 0px; border: 0.5px solid #E8E8E8;" />
                                        <p
                                            style="font-family: 'Be Vietnam Pro', sans-serif;font-style: normal; font-weight: 400; font-size: 18px; line-height: 24px; color: #333333;margin: 20px 0">
                                            Dưới đây là thông tin thanh toán, hãy kiểm tra lại nhé.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="">

                                            <tr>
                                                <td style="background: #ECECFE;border-radius:12px; padding: 10px 20px;">
                                                    <div
                                                        style="display: flex; justify-content: space-between; margin: 0; font-family: 'Be Vietnam Pro', sans-serif; font-style: normal; font-size: 16px; line-height: 28px; color: #494949;">
                                                        <span style="margin: 5px 0;">Gói sản phẩm: </span>
                                                        <span
                                                            style="margin: 5px 0; font-size: 18px; line-height: 24px; font-weight: 600;">{{interval}}</span>
                                                    </div>
                                                    <div
                                                        style="display: flex; justify-content: space-between; margin: 0; font-family: 'Be Vietnam Pro', sans-serif; font-style: normal; font-size: 16px; line-height: 28px; color: #494949;">
                                                        <span style="margin: 5px 0;">Sử dụng đến: </span>
                                                        <span
                                                            style="margin: 5px 0;font-size: 18px; line-height: 24px; font-weight: 600;">{{purchaseDate}}</span>
                                                    </div>
                                                    <div
                                                        style="display: flex; justify-content: space-between; margin: 0; font-family: 'Be Vietnam Pro', sans-serif; font-style: normal; font-size: 16px; line-height: 28px; color: #494949;">
                                                        <span style="margin: 5px 0;">Hình thức: </span>
                                                        <span
                                                            style="margin: 5px 0; font-size: 18px; line-height: 24px; font-weight: 600;">{{paymentMethod}}</span>
                                                    </div>
                                                    <div
                                                        style="display: flex; justify-content: space-between; margin: 0; font-family: 'Be Vietnam Pro', sans-serif; font-style: normal; font-size: 16px; line-height: 28px; color: #494949;">
                                                        <span style="margin: 5px 0;">Tổng tiền: </span>
                                                        <span
                                                            style="margin: 5px 0; font-size: 18px; line-height: 24px; font-weight: 600;">{{totalMoney}}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr style="margin-top: 20px;">
                                    <td colspan="2">
                                        <hr style="margin : 32px 0px; border: 0.5px solid #E8E8E8;" />
                                        <p
                                            style="font-family: 'Be Vietnam Pro', sans-serif; font-style: normal; font-weight: 400; font-size: 18px; line-height: 24px;color: #333333;">
                                            Nếu
                                            bạn có câu hỏi hoặc cần hỗ trợ, đừng ngần ngại liên hệ với ICAN qua hotline
                                            hoặc email:</p>
                                        <div style="display: flex; justify-content: space-between">
                                            <label
                                                style="margin: 10px 20px 0 0; text-decoration: none;font-family: 'Be Vietnam Pro', sans-serif; font-style: normal; font-weight: 600; font-size: 16px; line-height: 32px; text-align: center;">
                                                <a style="text-decoration: none; color: #5551FF;"
                                                    href="tel:02873003267">
                                                    <img style="padding-right: 8px;height: 22.5px;width: 22.5px;vertical-align: middle;"
                                                        src="https://adl.stag.icanx.vn/images/phone.png">02873003267
                                                </a>
                                            </label>
                                            <label
                                                style="margin-top: 10px; text-decoration: none;font-family: 'Be Vietnam Pro', sans-serif; font-style: normal; font-weight: 600; font-size: 16px; line-height: 32px; text-align: center;display: inline-block;">
                                                <a style="text-decoration: none; color: #5551FF"
                                                    href="mailto:support@ican.com.vn">
                                                    <img style="padding-right: 8px;height: 22.5px;width: 22.5px;vertical-align: middle;"
                                                        src="https://adl.stag.icanx.vn/images/mail.png">support@ican.com.vn
                                                </a>
                                            </label>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- Body End !-->

                    <!-- Bottom Start !-->

                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                style="padding: 30px 0 10px 0">

                                <tr>
                                    <td colspan="2" style="text-align: center; padding-top:8px;">
                                        <span
                                            style="font-family: 'Be Vietnam Pro', sans-serif; font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; text-align: center;color: white;">Bản
                                            quyền © 2022 thuộc về ICAN</span>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <!-- Bottom End !-->
                </table>
            </td>
        </tr>
    </table>
</body>

</html>